<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdz.content.mapper.PartnerMapper" >
  <resultMap id="BaseResultMap" type="com.fdz.content.domain.Partner" extends="baseEntity.base">
    
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="nature" property="nature" jdbcType="TINYINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
    <result column="service_rate" property="serviceRate" jdbcType="DECIMAL" />
    <result column="public_key" property="publicKey" jdbcType="VARCHAR" />
    <result column="unique_key" property="uniqueKey" jdbcType="VARCHAR" />
    <result column="my_key" property="myKey" />
    <result column="my_public_key" property="myPublicKey" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, create_time, modify_time, create_by, modify_by, remark, is_delete, `name`, short_name,
    nature, code, contacts, contact_mobile, service_rate, public_key,unique_key,my_key,my_public_key
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from partner
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from partner
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.fdz.content.domain.Partner" keyProperty="id" useGeneratedKeys="true">
    insert into partner (id, create_time, modify_time, 
      create_by, modify_by, remark, 
      is_delete, `name`, short_name,
      nature, code, contacts, 
      contact_mobile, service_rate, public_key,unique_key,my_key,my_public_key
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, 
      #{createBy,jdbcType=VARCHAR}, #{modifyBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{delete,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{nature,jdbcType=TINYINT}, #{code,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, 
      #{contactMobile,jdbcType=VARCHAR}, #{serviceRate,jdbcType=DECIMAL}, #{publicKey,jdbcType=VARCHAR},#{uniqueKey,jdbcType=VARCHAR},#{myKey}, #{myPublicKey}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fdz.content.domain.Partner" keyProperty="id" useGeneratedKeys="true">
    insert into partner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delete != null" >
        is_delete,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="shortName != null" >
        short_name,
      </if>
      <if test="nature != null" >
        nature,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="contacts != null" >
        contacts,
      </if>
      <if test="contactMobile != null" >
        contact_mobile,
      </if>
      <if test="serviceRate != null" >
        service_rate,
      </if>
      <if test="publicKey != null" >
        public_key,
      </if>
      <if test="uniqueKey != null">
        unique_key,
      </if>
      <if test="myKey != null">
        my_key,
      </if>
      <if test="myPublicKey != null">
        my_public_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delete != null" >
        #{delete,jdbcType=BIT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="nature != null" >
        #{nature,jdbcType=TINYINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="serviceRate != null" >
        #{serviceRate,jdbcType=DECIMAL},
      </if>
      <if test="publicKey != null" >
        #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="uniqueKey != null">
        #{uniqueKey,jdbcType=VARCHAR},
      </if>
      <if test="myKey != null">
        #{myKey},
      </if>
      <if test="myPublicKey != null">
        #{myPublicKey},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.fdz.content.domain.Partner" >
    update partner
    <set >

      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>

      <if test="modifyBy != null" >
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delete != null" >
        is_delete = #{delete,jdbcType=BIT},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="nature != null" >
        nature = #{nature,jdbcType=TINYINT},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null" >
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="serviceRate != null" >
        service_rate = #{serviceRate,jdbcType=DECIMAL},
      </if>
      <if test="publicKey != null" >
        public_key = #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="uniqueKey != null">
        unique_key = #{uniqueKey,jdbcType=VARCHAR},
      </if>
      <if test="myKey != null">
        my_key = #{myKey},
      </if>
      <if test="myPublicKey != null">
        my_public_key = #{myPublicKey},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fdz.content.domain.Partner" >
    update partner
    set
      modify_time = #{modifyTime,jdbcType=BIGINT},

      modify_by = #{modifyBy,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{delete,jdbcType=BIT},
      `name` = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      nature = #{nature,jdbcType=TINYINT},
      code = #{code,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      service_rate = #{serviceRate,jdbcType=DECIMAL},
      public_key = #{publicKey,jdbcType=VARCHAR},
      unique_key = #{uniqueKey,jdbcType=VARCHAR},
      my_key = #{myKey},
      my_public_key = #{myPublicKey}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findPartnerByIds" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from partner where is_delete=0 and id in
    <foreach collection="list" item="a" close=")" open="(" separator=",">
      #{a}
    </foreach>
  </select>

  <select id="searchPartnerCount" resultType="java.lang.Integer">
    select count(1) from partner where is_delete=0
    <if test="p.name != null" >
       and `name` = #{p.name}
    </if>
    <if test="p.shortName != null" >
       and short_name = #{p.shortName}
    </if>
    <if test="p.nature != null" >
       and nature = #{p.nature}
    </if>
    <if test="p.code != null" >
       and code = #{p.code}
    </if>
    <if test="p.contacts != null" >
       and contacts = #{p.contacts}
    </if>
    <if test="p.contactMobile != null" >
       and contact_mobile = #{p.contactMobile}
    </if>
    <if test="p.serviceRate != null" >
       and service_rate = #{p.serviceRate}
    </if>
    <if test="p.publicKey != null" >
       and public_key = #{p.publicKey}
    </if>
    <if test="p.uniqueKey != null">
       and unique_key = #{p.uniqueKey}
    </if>
  </select>

  <select id="searchPartner" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from partner where is_delete=0

    <if test="p.name != null" >
      and `name` = #{p.name}
    </if>
    <if test="p.shortName != null" >
      and short_name = #{p.shortName}
    </if>
    <if test="p.nature != null" >
      and nature = #{p.nature}
    </if>
    <if test="p.code != null" >
      and code = #{p.code}
    </if>
    <if test="p.contacts != null" >
      and contacts = #{p.contacts}
    </if>
    <if test="p.contactMobile != null" >
      and contact_mobile = #{p.contactMobile}
    </if>
    <if test="p.serviceRate != null" >
      and service_rate = #{p.serviceRate}
    </if>
    <if test="p.publicKey != null" >
      and public_key = #{p.publicKey}
    </if>
    <if test="p.uniqueKey != null">
      and unique_key = #{p.uniqueKey}
    </if> order by id desc limit #{page.start}, #{page.pageSize}
  </select>
</mapper>