<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdz.content.mapper.PartnerProductMapper" >
  <resultMap id="BaseResultMap" type="com.fdz.content.domain.PartnerProduct" extends="baseEntity.base">

    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="platform_price" property="platformPrice" jdbcType="DECIMAL" />
    <result column="shelf" property="shelf" jdbcType="BIT" />
    <result column="partner_id" property="partnerId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, create_time, modify_time, create_by, modify_by, remark, is_delete, product_id, 
    sale_price, platform_price, shelf, partner_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fdz.content.domain.PartnerProductExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from partner_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from partner_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from partner_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fdz.content.domain.PartnerProductExample" >
    delete from partner_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fdz.content.domain.PartnerProduct" keyProperty="id" useGeneratedKeys="true">
    insert into partner_product (id, create_time, modify_time, 
      create_by, modify_by, remark, 
      is_delete, product_id, sale_price, 
      platform_price, shelf, partner_id)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, 
      #{createBy,jdbcType=VARCHAR}, #{modifyBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{delete,jdbcType=BIT}, #{productId,jdbcType=BIGINT}, #{salePrice,jdbcType=DECIMAL}, 
      #{platformPrice,jdbcType=DECIMAL}, #{shelf,jdbcType=BIT},#{partnerId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fdz.content.domain.PartnerProduct" keyProperty="id" useGeneratedKeys="true">
    insert into partner_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="modifyBy != null" >
        modify_by,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="delete != null" >
        is_delete,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="platformPrice != null" >
        platform_price,
      </if>
      <if test="shelf != null" >
        shelf,
      </if>
      <if test="partnerId != null">
        partner_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delete != null" >
        #{delete,jdbcType=BIT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="platformPrice != null" >
        #{platformPrice,jdbcType=DECIMAL},
      </if>
      <if test="shelf != null" >
        #{shelf,jdbcType=BIT},
      </if>
      <if test="partnerId != null">
        #{partnerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fdz.content.domain.PartnerProductExample" resultType="java.lang.Integer" >
    select count(*) from partner_product
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update partner_product
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>

      <if test="record.modifyTime != null" >
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>

      <if test="record.modifyBy != null" >
        modify_by = #{record.modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.delete != null" >
        is_delete = #{record.delete,jdbcType=BIT},
      </if>
      <if test="record.productId != null" >
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.salePrice != null" >
        sale_price = #{record.salePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.platformPrice != null" >
        platform_price = #{record.platformPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.shelf != null" >
        shelf = #{record.shelf,jdbcType=BIT},
      </if>
      <if test="record.partnerId != null">
        partner_id = #{record.partnerId, jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update partner_product
    set id = #{record.id,jdbcType=BIGINT},

      modify_time = #{record.modifyTime,jdbcType=BIGINT},

      modify_by = #{record.modifyBy,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      is_delete = #{record.delete,jdbcType=BIT},
      product_id = #{record.productId,jdbcType=BIGINT},
      sale_price = #{record.salePrice,jdbcType=DECIMAL},
      platform_price = #{record.platformPrice,jdbcType=DECIMAL},
      shelf = #{record.shelf,jdbcType=BIT},
      partner_id = #{record.partnerId, jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fdz.content.domain.PartnerProduct" >
    update partner_product
    <set >

      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>

      <if test="modifyBy != null" >
        modify_by = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="delete != null" >
        is_delete = #{delete,jdbcType=BIT},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="platformPrice != null" >
        platform_price = #{platformPrice,jdbcType=DECIMAL},
      </if>
      <if test="shelf != null" >
        shelf = #{shelf,jdbcType=BIT},
      </if>
      <if test="partnerId != null">
        partner_id = #{partnerId, jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fdz.content.domain.PartnerProduct" >
    update partner_product
    set
      modify_time = #{modifyTime,jdbcType=BIGINT},

      modify_by = #{modifyBy,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{delete,jdbcType=BIT},
      product_id = #{productId,jdbcType=BIGINT},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      platform_price = #{platformPrice,jdbcType=DECIMAL},
      shelf = #{shelf,jdbcType=BIT},
      partner_id = #{partnerId, jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countSearchPartnerProduct" resultType="java.lang.Integer">
    select count(1) from partner_product where is_delete = 0
    <if test="p.productId != null" >
       and product_id = #{p.productId}
    </if>
    <if test="p.salePrice != null" >
       and sale_price = #{p.salePrice}
    </if>
    <if test="p.platformPrice != null" >
       and platform_price = #{p.platformPrice}
    </if>
    <if test="p.shelf != null" >
       and shelf = #{p.shelf}
    </if>
    <if test="p.partnerId != null">
       and partner_id = #{p.partnerId, jdbcType=BIGINT},
    </if>
  </select>
    <select id="searchPartnerProduct" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from partner_product where is_delete = 0
        <if test="p.productId != null" >
            and product_id = #{p.productId}
        </if>
        <if test="p.salePrice != null" >
            and sale_price = #{p.salePrice}
        </if>
        <if test="p.platformPrice != null" >
            and platform_price = #{p.platformPrice}
        </if>
        <if test="p.shelf != null" >
            and shelf = #{p.shelf}
        </if>
        <if test="p.partnerId != null">
          and partner_id = #{p.partnerId, jdbcType=BIGINT},
        </if>
        order by id desc limit #{page.start}, #{page.pageSize}
    </select>

  <select id="findPPByProductIds" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from partner_product where is_delete = 0
    and id in (
    <foreach collection="list" separator="," item="a">
      #{a}
    </foreach>
    )
  </select>
</mapper>