<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdz.content.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.fdz.content.domain.Product" extends="baseEntity.base">

        <result column="product_name" property="productName" jdbcType="VARCHAR"/>
        <result column="product_type_no" property="productTypeNo" jdbcType="VARCHAR"/>
        <result column="product_description" property="productDescription" jdbcType="VARCHAR"/>
        <result column="product_cover_image" property="productCoverImage" jdbcType="VARCHAR"/>
        <result column="prime_costs" property="primeCosts" jdbcType="DECIMAL"/>
        <result column="sale_price" property="salePrice" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="BIT"/>
        <result column="product_model" property="productModel" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, create_time, modify_time, create_by, modify_by, remark, is_delete, product_name, 
    product_type_no, product_description, product_cover_image, prime_costs, sale_price, 
    status, product_model
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fdz.content.domain.ProductExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from product
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from product
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <delete id="deleteByExample" parameterType="com.fdz.content.domain.ProductExample">
        delete from product
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.fdz.content.domain.Product" keyProperty="id" useGeneratedKeys="true">
    insert into product (id, create_time, modify_time, 
      create_by, modify_by, remark, 
      is_delete, product_name, product_type_no, 
      product_description, product_cover_image, 
      prime_costs, sale_price, status, 
      product_model)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, 
      #{createBy,jdbcType=VARCHAR}, #{modifyBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{delete,jdbcType=BIT}, #{productName,jdbcType=VARCHAR}, #{productTypeNo,jdbcType=VARCHAR}, 
      #{productDescription,jdbcType=VARCHAR}, #{productCoverImage,jdbcType=VARCHAR}, 
      #{primeCosts,jdbcType=DECIMAL}, #{salePrice,jdbcType=DECIMAL}, #{status,jdbcType=BIT}, 
      #{productModel,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.fdz.content.domain.Product" keyProperty="id"
            useGeneratedKeys="true">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="modifyBy != null">
                modify_by,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="delete != null">
                is_delete,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="productTypeNo != null">
                product_type_no,
            </if>
            <if test="productDescription != null">
                product_description,
            </if>
            <if test="productCoverImage != null">
                product_cover_image,
            </if>
            <if test="primeCosts != null">
                prime_costs,
            </if>
            <if test="salePrice != null">
                sale_price,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="productModel != null">
                product_model,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyBy != null">
                #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delete != null">
                #{delete,jdbcType=BIT},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productTypeNo != null">
                #{productTypeNo,jdbcType=VARCHAR},
            </if>
            <if test="productDescription != null">
                #{productDescription,jdbcType=VARCHAR},
            </if>
            <if test="productCoverImage != null">
                #{productCoverImage,jdbcType=VARCHAR},
            </if>
            <if test="primeCosts != null">
                #{primeCosts,jdbcType=DECIMAL},
            </if>
            <if test="salePrice != null">
                #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="productModel != null">
                #{productModel,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.fdz.content.domain.ProductExample" resultType="java.lang.Integer">
        select count(*) from product
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update product
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>

            <if test="record.modifyTime != null">
                modify_time = #{record.modifyTime,jdbcType=BIGINT},
            </if>

            <if test="record.modifyBy != null">
                modify_by = #{record.modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null">
                remark = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.delete != null">
                is_delete = #{record.delete,jdbcType=BIT},
            </if>
            <if test="record.productName != null">
                product_name = #{record.productName,jdbcType=VARCHAR},
            </if>
            <if test="record.productTypeNo != null">
                product_type_no = #{record.productTypeNo,jdbcType=VARCHAR},
            </if>
            <if test="record.productDescription != null">
                product_description = #{record.productDescription,jdbcType=VARCHAR},
            </if>
            <if test="record.productCoverImage != null">
                product_cover_image = #{record.productCoverImage,jdbcType=VARCHAR},
            </if>
            <if test="record.primeCosts != null">
                prime_costs = #{record.primeCosts,jdbcType=DECIMAL},
            </if>
            <if test="record.salePrice != null">
                sale_price = #{record.salePrice,jdbcType=DECIMAL},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=BIT},
            </if>
            <if test="record.productModel != null">
                product_model = #{record.productModel,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update product
        set id = #{record.id,jdbcType=BIGINT},

        modify_time = #{record.modifyTime,jdbcType=BIGINT},

        modify_by = #{record.modifyBy,jdbcType=VARCHAR},
        remark = #{record.remark,jdbcType=VARCHAR},
        is_delete = #{record.delete,jdbcType=BIT},
        product_name = #{record.productName,jdbcType=VARCHAR},
        product_type_no = #{record.productTypeNo,jdbcType=VARCHAR},
        product_description = #{record.productDescription,jdbcType=VARCHAR},
        product_cover_image = #{record.productCoverImage,jdbcType=VARCHAR},
        prime_costs = #{record.primeCosts,jdbcType=DECIMAL},
        sale_price = #{record.salePrice,jdbcType=DECIMAL},
        status = #{record.status,jdbcType=BIT},
        product_model = #{record.productModel,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.fdz.content.domain.Product">
        update product
        <set>

            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=BIGINT},
            </if>

            <if test="modifyBy != null">
                modify_by = #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delete != null">
                is_delete = #{delete,jdbcType=BIT},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productTypeNo != null">
                product_type_no = #{productTypeNo,jdbcType=VARCHAR},
            </if>
            <if test="productDescription != null">
                product_description = #{productDescription,jdbcType=VARCHAR},
            </if>
            <if test="productCoverImage != null">
                product_cover_image = #{productCoverImage,jdbcType=VARCHAR},
            </if>
            <if test="primeCosts != null">
                prime_costs = #{primeCosts,jdbcType=DECIMAL},
            </if>
            <if test="salePrice != null">
                sale_price = #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
            <if test="productModel != null">
                product_model = #{productModel,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fdz.content.domain.Product">
    update product
    set
      modify_time = #{modifyTime,jdbcType=BIGINT},
      modify_by = #{modifyBy,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{delete,jdbcType=BIT},
      product_name = #{productName,jdbcType=VARCHAR},
      product_type_no = #{productTypeNo,jdbcType=VARCHAR},
      product_description = #{productDescription,jdbcType=VARCHAR},
      product_cover_image = #{productCoverImage,jdbcType=VARCHAR},
      prime_costs = #{primeCosts,jdbcType=DECIMAL},
      sale_price = #{salePrice,jdbcType=DECIMAL},
      status = #{status,jdbcType=BIT},
      product_model = #{productModel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findProductByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product where is_delete = 0 and id in (
        <foreach collection="list" item="a" separator=",">
            #{a}
        </foreach>
        )
    </select>

    <select id="countSearchProduct" resultType="java.lang.Integer" parameterType="com.fdz.content.domain.Product">
        select count(1) from product where is_delete = 0
        <if test="modifyBy != null">
            and modify_by = #{modifyBy}
        </if>
        <if test="remark != null">
            and remark = #{remark}
        </if>
        <if test="productName != null">
            and product_name like CONCAT('%',#{productName},'%')
        </if>
        <if test="productTypeNo != null">
            and product_type_no = #{productTypeNo}
        </if>
        <if test="productDescription != null">
            and product_description = #{productDescription}
        </if>
        <if test="productCoverImage != null">
            and product_cover_image = #{productCoverImage}
        </if>
        <if test="primeCosts != null">
            and prime_costs = #{primeCosts}
        </if>
        <if test="salePrice != null">
            and sale_price = #{salePrice}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="productModel != null">
            and product_model = #{productModel}
        </if>
    </select>

    <select id="searchProductList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product where is_delete = 0
        <if test="product.modifyBy != null">
            and modify_by = #{product.modifyBy}
        </if>
        <if test="product.remark != null">
            and remark = #{product.remark}
        </if>
        <if test="product.productName != null">
            and product_name like CONCAT('%',#{product.productName},'%')
        </if>
        <if test="product.productTypeNo != null">
            and product_type_no = #{product.productTypeNo}
        </if>
        <if test="product.productDescription != null">
            and product_description = #{product.productDescription}
        </if>
        <if test="product.productCoverImage != null">
            and product_cover_image = #{product.productCoverImage}
        </if>
        <if test="product.primeCosts != null">
            and prime_costs = #{product.primeCosts}
        </if>
        <if test="product.salePrice != null">
            and sale_price = #{product.salePrice}
        </if>
        <if test="product.status != null">
            and status = #{product.status}
        </if>
        <if test="product.productModel != null">
            and product_model = #{product.productModel}
        </if>
        order by id desc limit #{page.start}, #{page.pageSize}
    </select>
</mapper>