<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fdz.content.mapper.ProductImageMapper">
    <resultMap id="BaseResultMap" type="com.fdz.content.domain.ProductImage" extends="baseEntity.base">

        <result column="product_image" property="productImage" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, create_time, modify_time, create_by, modify_by, remark, is_delete, product_image, 
    product_id
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from product_image
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_image
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insert" parameterType="com.fdz.content.domain.ProductImage" keyProperty="id" useGeneratedKeys="true">
    insert into product_image (id, create_time, modify_time, 
      create_by, modify_by, remark, 
      is_delete, product_image, product_id
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, 
      #{createBy,jdbcType=VARCHAR}, #{modifyBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{delete,jdbcType=BIT}, #{productImage,jdbcType=VARCHAR}, #{productId,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.fdz.content.domain.ProductImage" keyProperty="id" useGeneratedKeys="true">
        insert into product_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="modifyBy != null">
                modify_by,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="delete != null">
                is_delete,
            </if>
            <if test="productImage != null">
                product_image,
            </if>
            <if test="productId != null">
                product_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=BIGINT},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifyBy != null">
                #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delete != null">
                #{delete,jdbcType=BIT},
            </if>
            <if test="productImage != null">
                #{productImage,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <insert id="insertList">
        insert into product_image (id, create_time, modify_time,
      create_by, modify_by, remark,
      is_delete, product_image, product_id
      )
    values
    <foreach collection="list" separator="," item="a">
    (#{a.id,jdbcType=BIGINT}, #{a.createTime,jdbcType=BIGINT}, #{a.modifyTime,jdbcType=BIGINT},
      #{a.createBy,jdbcType=VARCHAR}, #{a.modifyBy,jdbcType=VARCHAR}, #{a.remark,jdbcType=VARCHAR},
      #{a.delete,jdbcType=BIT}, #{a.productImage,jdbcType=VARCHAR}, #{a.productId,jdbcType=BIGINT}
      )
    </foreach>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.fdz.content.domain.ProductImage">
        update product_image
        <set>

            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=BIGINT},
            </if>
            <if test="modifyBy != null">
                modify_by = #{modifyBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="delete != null">
                is_delete = #{delete,jdbcType=BIT},
            </if>
            <if test="productImage != null">
                product_image = #{productImage,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fdz.content.domain.ProductImage">
    update product_image
    set
      modify_time = #{modifyTime,jdbcType=BIGINT},

      modify_by = #{modifyBy,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{delete,jdbcType=BIT},
      product_image = #{productImage,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_image where is_delete = 0 and product_id in (
        <foreach collection="list" item="a" separator=",">
            #{a}
        </foreach>
        )
    </select>
</mapper>