<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.fdz.content.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis-config/BaseEntity.xml" />
        <mapper resource="com/fdz/content/mapper/InterfaceExecRecordMapper.xml" />
        <mapper resource="com/fdz/content/mapper/ManagerMapper.xml" />
        <mapper resource="com/fdz/content/mapper/PartnerInterfaceConfigMapper.xml" />
        <mapper resource="com/fdz/content/mapper/PartnerMapper.xml" />
        <mapper resource="com/fdz/content/mapper/PartnerProductMapper.xml" />
        <mapper resource="com/fdz/content/mapper/PartnerUserMapper.xml" />
        <mapper resource="com/fdz/content/mapper/ProductImageMapper.xml" />
        <mapper resource="com/fdz/content/mapper/ProductMapper.xml" />
        <mapper resource="com/fdz/content/mapper/ProductTypeMapper.xml" />
    </mappers>
</configuration>