<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.fdz.order.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis-config/BaseEntity.xml" />
        <mapper resource="com/fdz/order/mapper/AccountMapper.xml" />
        <mapper resource="com/fdz/order/mapper/OrdersLogisticsMapper.xml" />
        <mapper resource="com/fdz/order/mapper/OrdersMapper.xml" />
        <mapper resource="com/fdz/order/mapper/OrdersProductMapper.xml" />
        <mapper resource="com/fdz/order/mapper/OrdersTrackMapper.xml" />
        <mapper resource="com/fdz/order/mapper/PaymentRecordMapper.xml" />
    </mappers>
</configuration>