<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouding.wallet.mapper.ContractPdfMapper">

    <resultMap id="contractPdf" type="com.ouding.wallet.domain.ContractPdf">
        <id column="id" property="id"/>
        <result property="contractId" column="contract_id"/>
        <result property="modelId" column="model_id"/>
        <result property="docTitle" column="doc_title"/>
        <result property="unsignPdfUrl" column="unsign_pdf_url"/>
        <result property="relationId" column="relation_id"/>
        <result property="lenderPhone" column="lender_phone"/>
        <result property="borrowerPhone" column="borrower_phone"/>
        <result property="apiViewUrl" column="api_view_url"/>
        <result property="apiDownloadUrl" column="api_download_url"/>
        <result property="signPdfUrl" column="sign_pdf_url"/>
        <result property="isFiling" column="is_filing"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isUploadFdd" column="is_upload_fdd"/>
        <result property="signImgUrl" column="sign_img_url"/>
        <result property="channelNum" column="channel_num"/>
        <result property="isSend" column="is_send"/>
        <result property="assetSignPdfUrl" column="asset_sign_pdf_url"/>
        <result property="isClearFddSpace" column="is_clear_fdd_space"/>
        <result property="contractType" column="contract_type"/>
        <result property="channelProduct" column="channel_product"/>
    </resultMap>

    <sql id="sql_all">
         id, contract_id, model_id, doc_title, unsign_pdf_url, relation_id, lender_phone, borrower_phone, api_view_url, api_download_url, sign_pdf_url, is_filing, is_delete, create_time, update_time, is_upload_fdd, sign_img_url, channel_num, is_send, asset_sign_pdf_url, is_clear_fdd_space, contract_type, channel_product
    </sql>

    <select id="findByRelationIdAndModelIds" resultMap="contractPdf">
        select
        <include refid="sql_all"/>
        from contract_pdf where relation_id = #{relationId} and contract_type in
        (
        <foreach collection="list" item="c" separator=",">
            #{c}
        </foreach>
        )
    </select>

</mapper>