<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouding.wallet.mapper.CreditRepaymentMapper">
  <resultMap id="BaseResultMap" type="com.ouding.wallet.domain.CreditRepayment">
    <id column="credit_repayment_id" jdbcType="BIGINT" property="creditRepaymentId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="term_num" jdbcType="INTEGER" property="termNum" />
    <result column="plan_principal" jdbcType="DECIMAL" property="planPrincipal" />
    <result column="handling_charge" jdbcType="DECIMAL" property="handlingCharge" />
    <result column="service_money" jdbcType="DECIMAL" property="serviceMoney" />
    <result column="plan_service_money" jdbcType="DECIMAL" property="planServiceMoney" />
    <result column="third_service_money" jdbcType="DECIMAL" property="thirdServiceMoney" />
    <result column="third_principal" jdbcType="DECIMAL" property="thirdPrincipal" />
    <result column="third_interest" jdbcType="DECIMAL" property="thirdInterest" />
    <result column="plan_interest" jdbcType="DECIMAL" property="planInterest" />
    <result column="diff_value" jdbcType="DECIMAL" property="diffValue" />
    <result column="start_interest_date" jdbcType="BIGINT" property="startInterestDate" />
    <result column="plan_date" jdbcType="BIGINT" property="planDate" />
    <result column="real_date" jdbcType="BIGINT" property="realDate" />
    <result column="overdue_days" jdbcType="INTEGER" property="overdueDays" />
    <result column="overdue_interest" jdbcType="DECIMAL" property="overdueInterest" />
    <result column="prepayment_date" jdbcType="BIGINT" property="prepaymentDate" />
    <result column="prepayment_amount" jdbcType="DECIMAL" property="prepaymentAmount" />
    <result column="prepayment_penalty" jdbcType="DECIMAL" property="prepaymentPenalty" />
    <result column="biz_status" jdbcType="INTEGER" property="bizStatus" />
    <result column="is_borrower_repay" jdbcType="INTEGER" property="isBorrowerRepay" />
    <result column="amount_repayment" jdbcType="DECIMAL" property="amountRepayment" />
    <result column="loan_release_batch_no" jdbcType="VARCHAR" property="loanReleaseBatchNo" />
    <result column="asset_id" jdbcType="VARCHAR" property="assetId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="prepayment_times" jdbcType="INTEGER" property="prepaymentTimes" />
    <result column="pay_sn" jdbcType="VARCHAR" property="paySn" />
    <result column="first_principal" property="firstPrincipal" />
    <result column="second_principal" property="secondPrincipal" />
    <result column="payment_method" property="paymentMethod" />
    <result column="ident" property="ident" />
  </resultMap>
  <sql id="Base_Column_List">
    credit_repayment_id, user_id, order_sn, term_num, plan_principal, handling_charge, 
    service_money, plan_service_money, third_service_money, third_principal, third_interest, 
    plan_interest, diff_value, start_interest_date, plan_date, real_date, overdue_days, 
    overdue_interest, prepayment_date, prepayment_amount, prepayment_penalty, biz_status, 
    is_borrower_repay, amount_repayment, loan_release_batch_no, asset_id, create_time, 
    is_delete, modify_time, remark, prepayment_times, pay_sn,first_principal,second_principal,payment_method,ident
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from credit_repayment
    where credit_repayment_id = #{creditRepaymentId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from credit_repayment
    where credit_repayment_id = #{creditRepaymentId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ouding.wallet.domain.CreditRepayment">
    insert into credit_repayment (credit_repayment_id, user_id, order_sn, 
      term_num, plan_principal, handling_charge, 
      service_money, plan_service_money, third_service_money, 
      third_principal, third_interest, plan_interest, 
      diff_value, start_interest_date, plan_date, 
      real_date, overdue_days, overdue_interest, 
      prepayment_date, prepayment_amount, prepayment_penalty, 
      biz_status, is_borrower_repay, amount_repayment, 
      loan_release_batch_no, asset_id, create_time, 
      is_delete, modify_time, remark, 
      prepayment_times, pay_sn,first_principal,second_principal,payment_method,ident)
    values (#{creditRepaymentId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{orderSn,jdbcType=VARCHAR}, 
      #{termNum,jdbcType=INTEGER}, #{planPrincipal,jdbcType=DECIMAL}, #{handlingCharge,jdbcType=DECIMAL}, 
      #{serviceMoney,jdbcType=DECIMAL}, #{planServiceMoney,jdbcType=DECIMAL}, #{thirdServiceMoney,jdbcType=DECIMAL}, 
      #{thirdPrincipal,jdbcType=DECIMAL}, #{thirdInterest,jdbcType=DECIMAL}, #{planInterest,jdbcType=DECIMAL}, 
      #{diffValue,jdbcType=DECIMAL}, #{startInterestDate,jdbcType=BIGINT}, #{planDate,jdbcType=BIGINT}, 
      #{realDate,jdbcType=BIGINT}, #{overdueDays,jdbcType=INTEGER}, #{overdueInterest,jdbcType=DECIMAL}, 
      #{prepaymentDate,jdbcType=BIGINT}, #{prepaymentAmount,jdbcType=DECIMAL}, #{prepaymentPenalty,jdbcType=DECIMAL}, 
      #{bizStatus,jdbcType=INTEGER}, #{isBorrowerRepay,jdbcType=INTEGER}, #{amountRepayment,jdbcType=DECIMAL}, 
      #{loanReleaseBatchNo,jdbcType=VARCHAR}, #{assetId,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{isDelete,jdbcType=BIT}, #{modifyTime,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, 
      #{prepaymentTimes,jdbcType=INTEGER}, #{paySn,jdbcType=VARCHAR},#{firstPrincipal},#{secondPrincipal},#{paymentMethod},#{ident})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="creditRepaymentId" parameterType="com.ouding.wallet.domain.CreditRepayment">
    insert into credit_repayment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creditRepaymentId != null">
        credit_repayment_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
      <if test="termNum != null">
        term_num,
      </if>
      <if test="planPrincipal != null">
        plan_principal,
      </if>
      <if test="handlingCharge != null">
        handling_charge,
      </if>
      <if test="serviceMoney != null">
        service_money,
      </if>
      <if test="planServiceMoney != null">
        plan_service_money,
      </if>
      <if test="thirdServiceMoney != null">
        third_service_money,
      </if>
      <if test="thirdPrincipal != null">
        third_principal,
      </if>
      <if test="thirdInterest != null">
        third_interest,
      </if>
      <if test="planInterest != null">
        plan_interest,
      </if>
      <if test="diffValue != null">
        diff_value,
      </if>
      <if test="startInterestDate != null">
        start_interest_date,
      </if>
      <if test="planDate != null">
        plan_date,
      </if>
      <if test="realDate != null">
        real_date,
      </if>
      <if test="overdueDays != null">
        overdue_days,
      </if>
      <if test="overdueInterest != null">
        overdue_interest,
      </if>
      <if test="prepaymentDate != null">
        prepayment_date,
      </if>
      <if test="prepaymentAmount != null">
        prepayment_amount,
      </if>
      <if test="prepaymentPenalty != null">
        prepayment_penalty,
      </if>
      <if test="bizStatus != null">
        biz_status,
      </if>
      <if test="isBorrowerRepay != null">
        is_borrower_repay,
      </if>
      <if test="amountRepayment != null">
        amount_repayment,
      </if>
      <if test="loanReleaseBatchNo != null">
        loan_release_batch_no,
      </if>
      <if test="assetId != null">
        asset_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="prepaymentTimes != null">
        prepayment_times,
      </if>
      <if test="paySn != null">
        pay_sn,
      </if>
      <if test="firstPrincipal != null">
        first_principal,
      </if>
      <if test="secondPrincipal != null">
        second_principal,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="ident != null">
        ident,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creditRepaymentId != null">
        #{creditRepaymentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="termNum != null">
        #{termNum,jdbcType=INTEGER},
      </if>
      <if test="planPrincipal != null">
        #{planPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="handlingCharge != null">
        #{handlingCharge,jdbcType=DECIMAL},
      </if>
      <if test="serviceMoney != null">
        #{serviceMoney,jdbcType=DECIMAL},
      </if>
      <if test="planServiceMoney != null">
        #{planServiceMoney,jdbcType=DECIMAL},
      </if>
      <if test="thirdServiceMoney != null">
        #{thirdServiceMoney,jdbcType=DECIMAL},
      </if>
      <if test="thirdPrincipal != null">
        #{thirdPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="thirdInterest != null">
        #{thirdInterest,jdbcType=DECIMAL},
      </if>
      <if test="planInterest != null">
        #{planInterest,jdbcType=DECIMAL},
      </if>
      <if test="diffValue != null">
        #{diffValue,jdbcType=DECIMAL},
      </if>
      <if test="startInterestDate != null">
        #{startInterestDate,jdbcType=BIGINT},
      </if>
      <if test="planDate != null">
        #{planDate,jdbcType=BIGINT},
      </if>
      <if test="realDate != null">
        #{realDate,jdbcType=BIGINT},
      </if>
      <if test="overdueDays != null">
        #{overdueDays,jdbcType=INTEGER},
      </if>
      <if test="overdueInterest != null">
        #{overdueInterest,jdbcType=DECIMAL},
      </if>
      <if test="prepaymentDate != null">
        #{prepaymentDate,jdbcType=BIGINT},
      </if>
      <if test="prepaymentAmount != null">
        #{prepaymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="prepaymentPenalty != null">
        #{prepaymentPenalty,jdbcType=DECIMAL},
      </if>
      <if test="bizStatus != null">
        #{bizStatus,jdbcType=INTEGER},
      </if>
      <if test="isBorrowerRepay != null">
        #{isBorrowerRepay,jdbcType=INTEGER},
      </if>
      <if test="amountRepayment != null">
        #{amountRepayment,jdbcType=DECIMAL},
      </if>
      <if test="loanReleaseBatchNo != null">
        #{loanReleaseBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="assetId != null">
        #{assetId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="prepaymentTimes != null">
        #{prepaymentTimes,jdbcType=INTEGER},
      </if>
      <if test="paySn != null">
        #{paySn,jdbcType=VARCHAR},
      </if>
      <if test="firstPrincipal != null">
        #{firstPrincipal},
      </if>
      <if test="secondPrincipal != null">
        #{secondPrincipal},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod},
      </if>
      <if test="ident != null">
        #{ident},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouding.wallet.domain.CreditRepayment">
    update credit_repayment
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderSn != null">
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="termNum != null">
        term_num = #{termNum,jdbcType=INTEGER},
      </if>
      <if test="planPrincipal != null">
        plan_principal = #{planPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="handlingCharge != null">
        handling_charge = #{handlingCharge,jdbcType=DECIMAL},
      </if>
      <if test="serviceMoney != null">
        service_money = #{serviceMoney,jdbcType=DECIMAL},
      </if>
      <if test="planServiceMoney != null">
        plan_service_money = #{planServiceMoney,jdbcType=DECIMAL},
      </if>
      <if test="thirdServiceMoney != null">
        third_service_money = #{thirdServiceMoney,jdbcType=DECIMAL},
      </if>
      <if test="thirdPrincipal != null">
        third_principal = #{thirdPrincipal,jdbcType=DECIMAL},
      </if>
      <if test="thirdInterest != null">
        third_interest = #{thirdInterest,jdbcType=DECIMAL},
      </if>
      <if test="planInterest != null">
        plan_interest = #{planInterest,jdbcType=DECIMAL},
      </if>
      <if test="diffValue != null">
        diff_value = #{diffValue,jdbcType=DECIMAL},
      </if>
      <if test="startInterestDate != null">
        start_interest_date = #{startInterestDate,jdbcType=BIGINT},
      </if>
      <if test="planDate != null">
        plan_date = #{planDate,jdbcType=BIGINT},
      </if>
      <if test="realDate != null">
        real_date = #{realDate,jdbcType=BIGINT},
      </if>
      <if test="overdueDays != null">
        overdue_days = #{overdueDays,jdbcType=INTEGER},
      </if>
      <if test="overdueInterest != null">
        overdue_interest = #{overdueInterest,jdbcType=DECIMAL},
      </if>
      <if test="prepaymentDate != null">
        prepayment_date = #{prepaymentDate,jdbcType=BIGINT},
      </if>
      <if test="prepaymentAmount != null">
        prepayment_amount = #{prepaymentAmount,jdbcType=DECIMAL},
      </if>
      <if test="prepaymentPenalty != null">
        prepayment_penalty = #{prepaymentPenalty,jdbcType=DECIMAL},
      </if>
      <if test="bizStatus != null">
        biz_status = #{bizStatus,jdbcType=INTEGER},
      </if>
      <if test="isBorrowerRepay != null">
        is_borrower_repay = #{isBorrowerRepay,jdbcType=INTEGER},
      </if>
      <if test="amountRepayment != null">
        amount_repayment = #{amountRepayment,jdbcType=DECIMAL},
      </if>
      <if test="loanReleaseBatchNo != null">
        loan_release_batch_no = #{loanReleaseBatchNo,jdbcType=VARCHAR},
      </if>
      <if test="assetId != null">
        asset_id = #{assetId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="prepaymentTimes != null">
        prepayment_times = #{prepaymentTimes,jdbcType=INTEGER},
      </if>
      <if test="paySn != null">
        pay_sn = #{paySn,jdbcType=VARCHAR},
      </if>
      <if test="firstPrincipal != null">
        first_principal = #{firstPrincipal},
      </if>
      <if test="secondPrincipal != null">
        second_principal = #{secondPrincipal},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod},
      </if>
      <if test="ident != null">
        ident = #{ident},
      </if>
    </set>
    where credit_repayment_id = #{creditRepaymentId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ouding.wallet.domain.CreditRepayment">
    update credit_repayment
    set user_id = #{userId,jdbcType=INTEGER},
      order_sn = #{orderSn,jdbcType=VARCHAR},
      term_num = #{termNum,jdbcType=INTEGER},
      plan_principal = #{planPrincipal,jdbcType=DECIMAL},
      handling_charge = #{handlingCharge,jdbcType=DECIMAL},
      service_money = #{serviceMoney,jdbcType=DECIMAL},
      plan_service_money = #{planServiceMoney,jdbcType=DECIMAL},
      third_service_money = #{thirdServiceMoney,jdbcType=DECIMAL},
      third_principal = #{thirdPrincipal,jdbcType=DECIMAL},
      third_interest = #{thirdInterest,jdbcType=DECIMAL},
      plan_interest = #{planInterest,jdbcType=DECIMAL},
      diff_value = #{diffValue,jdbcType=DECIMAL},
      start_interest_date = #{startInterestDate,jdbcType=BIGINT},
      plan_date = #{planDate,jdbcType=BIGINT},
      real_date = #{realDate,jdbcType=BIGINT},
      overdue_days = #{overdueDays,jdbcType=INTEGER},
      overdue_interest = #{overdueInterest,jdbcType=DECIMAL},
      prepayment_date = #{prepaymentDate,jdbcType=BIGINT},
      prepayment_amount = #{prepaymentAmount,jdbcType=DECIMAL},
      prepayment_penalty = #{prepaymentPenalty,jdbcType=DECIMAL},
      biz_status = #{bizStatus,jdbcType=INTEGER},
      is_borrower_repay = #{isBorrowerRepay,jdbcType=INTEGER},
      amount_repayment = #{amountRepayment,jdbcType=DECIMAL},
      loan_release_batch_no = #{loanReleaseBatchNo,jdbcType=VARCHAR},
      asset_id = #{assetId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      is_delete = #{isDelete,jdbcType=BIT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      prepayment_times = #{prepaymentTimes,jdbcType=INTEGER},
      pay_sn = #{paySn,jdbcType=VARCHAR},
      first_principal = #{firstPrincipal},
      second_principal = #{secondPrincipal},
      payment_method = #{paymentMethod},
      ident = #{ident}
    where credit_repayment_id = #{creditRepaymentId,jdbcType=BIGINT}
  </update>
</mapper>