<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouding.wallet.mapper.CreditRepaymentReductionMapper">
  <resultMap id="BaseResultMap" type="com.ouding.wallet.domain.CreditRepaymentReduction">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="repayment_info_id" jdbcType="BIGINT" property="repaymentInfoId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="credit_repayment_id" jdbcType="BIGINT" property="creditRepaymentId" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="reduction_money" jdbcType="DECIMAL" property="reductionMoney" />
    <result column="repayment_money" jdbcType="DECIMAL" property="repaymentMoney" />
    <result column="reduction_success_time" jdbcType="BIGINT" property="reductionSuccessTime" />
    <result column="reduction_remark_id" jdbcType="INTEGER" property="reductionRemarkId" />
    <result column="reduction_state" jdbcType="INTEGER" property="reductionState" />
    <result column="expire_time" jdbcType="BIGINT" property="expireTime" />
    <result column="operate_name" jdbcType="VARCHAR" property="operateName" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, repayment_info_id, create_time, credit_repayment_id, modify_time, reduction_money, 
    repayment_money, reduction_success_time, reduction_remark_id, reduction_state, expire_time, 
    operate_name, create_by, update_by, is_delete, valid, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from credit_repayment_reduction
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from credit_repayment_reduction
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ouding.wallet.domain.CreditRepaymentReduction">
    insert into credit_repayment_reduction (id, user_id, repayment_info_id, 
      create_time, credit_repayment_id, modify_time, 
      reduction_money, repayment_money, reduction_success_time, 
      reduction_remark_id, reduction_state, expire_time, 
      operate_name, create_by, update_by, 
      is_delete, valid, remark)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{repaymentInfoId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT}, #{creditRepaymentId,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, 
      #{reductionMoney,jdbcType=DECIMAL}, #{repaymentMoney,jdbcType=DECIMAL}, #{reductionSuccessTime,jdbcType=BIGINT}, 
      #{reductionRemarkId,jdbcType=INTEGER}, #{reductionState,jdbcType=INTEGER}, #{expireTime,jdbcType=BIGINT}, 
      #{operateName,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}, #{updateBy,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=BIT}, #{valid,jdbcType=BIT}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ouding.wallet.domain.CreditRepaymentReduction">
    insert into credit_repayment_reduction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="repaymentInfoId != null">
        repayment_info_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creditRepaymentId != null">
        credit_repayment_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="reductionMoney != null">
        reduction_money,
      </if>
      <if test="repaymentMoney != null">
        repayment_money,
      </if>
      <if test="reductionSuccessTime != null">
        reduction_success_time,
      </if>
      <if test="reductionRemarkId != null">
        reduction_remark_id,
      </if>
      <if test="reductionState != null">
        reduction_state,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="operateName != null">
        operate_name,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="valid != null">
        valid,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="repaymentInfoId != null">
        #{repaymentInfoId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="creditRepaymentId != null">
        #{creditRepaymentId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="reductionMoney != null">
        #{reductionMoney,jdbcType=DECIMAL},
      </if>
      <if test="repaymentMoney != null">
        #{repaymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="reductionSuccessTime != null">
        #{reductionSuccessTime,jdbcType=BIGINT},
      </if>
      <if test="reductionRemarkId != null">
        #{reductionRemarkId,jdbcType=INTEGER},
      </if>
      <if test="reductionState != null">
        #{reductionState,jdbcType=INTEGER},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="operateName != null">
        #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="valid != null">
        #{valid,jdbcType=BIT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouding.wallet.domain.CreditRepaymentReduction">
    update credit_repayment_reduction
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="repaymentInfoId != null">
        repayment_info_id = #{repaymentInfoId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="creditRepaymentId != null">
        credit_repayment_id = #{creditRepaymentId,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="reductionMoney != null">
        reduction_money = #{reductionMoney,jdbcType=DECIMAL},
      </if>
      <if test="repaymentMoney != null">
        repayment_money = #{repaymentMoney,jdbcType=DECIMAL},
      </if>
      <if test="reductionSuccessTime != null">
        reduction_success_time = #{reductionSuccessTime,jdbcType=BIGINT},
      </if>
      <if test="reductionRemarkId != null">
        reduction_remark_id = #{reductionRemarkId,jdbcType=INTEGER},
      </if>
      <if test="reductionState != null">
        reduction_state = #{reductionState,jdbcType=INTEGER},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=BIGINT},
      </if>
      <if test="operateName != null">
        operate_name = #{operateName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="valid != null">
        valid = #{valid,jdbcType=BIT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ouding.wallet.domain.CreditRepaymentReduction">
    update credit_repayment_reduction
    set user_id = #{userId,jdbcType=INTEGER},
      repayment_info_id = #{repaymentInfoId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      credit_repayment_id = #{creditRepaymentId,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      reduction_money = #{reductionMoney,jdbcType=DECIMAL},
      repayment_money = #{repaymentMoney,jdbcType=DECIMAL},
      reduction_success_time = #{reductionSuccessTime,jdbcType=BIGINT},
      reduction_remark_id = #{reductionRemarkId,jdbcType=INTEGER},
      reduction_state = #{reductionState,jdbcType=INTEGER},
      expire_time = #{expireTime,jdbcType=BIGINT},
      operate_name = #{operateName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=BIT},
      valid = #{valid,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>