<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouding.wallet.mapper.MemberConfigMapper">
  <resultMap id="BaseResultMap" type="com.ouding.wallet.domain.MemberConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="card_type" jdbcType="TINYINT" property="cardType" />
    <result column="card_money" jdbcType="DECIMAL" property="cardMoney" />
    <result column="validity_period" jdbcType="INTEGER" property="validityPeriod" />
    <result column="date_unit" jdbcType="TINYINT" property="dateUnit" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="min_points" jdbcType="INTEGER" property="minPoints" />
    <result column="max_points" jdbcType="INTEGER" property="maxPoints" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="isdelete" jdbcType="BIT" property="isdelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, card_type, card_money, validity_period, date_unit, discount, min_points, max_points, 
    create_time, modify_time, isdelete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from member_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from member_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ouding.wallet.domain.MemberConfig">
    insert into member_config (id, card_type, card_money, 
      validity_period, date_unit, discount, 
      min_points, max_points, create_time, 
      modify_time, isdelete)
    values (#{id,jdbcType=INTEGER}, #{cardType,jdbcType=TINYINT}, #{cardMoney,jdbcType=DECIMAL}, 
      #{validityPeriod,jdbcType=INTEGER}, #{dateUnit,jdbcType=TINYINT}, #{discount,jdbcType=DECIMAL}, 
      #{minPoints,jdbcType=INTEGER}, #{maxPoints,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=BIGINT}, #{isdelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.ouding.wallet.domain.MemberConfig">
    insert into member_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
      <if test="cardMoney != null">
        card_money,
      </if>
      <if test="validityPeriod != null">
        validity_period,
      </if>
      <if test="dateUnit != null">
        date_unit,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="minPoints != null">
        min_points,
      </if>
      <if test="maxPoints != null">
        max_points,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=TINYINT},
      </if>
      <if test="cardMoney != null">
        #{cardMoney,jdbcType=DECIMAL},
      </if>
      <if test="validityPeriod != null">
        #{validityPeriod,jdbcType=INTEGER},
      </if>
      <if test="dateUnit != null">
        #{dateUnit,jdbcType=TINYINT},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="minPoints != null">
        #{minPoints,jdbcType=INTEGER},
      </if>
      <if test="maxPoints != null">
        #{maxPoints,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouding.wallet.domain.MemberConfig">
    update member_config
    <set>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=TINYINT},
      </if>
      <if test="cardMoney != null">
        card_money = #{cardMoney,jdbcType=DECIMAL},
      </if>
      <if test="validityPeriod != null">
        validity_period = #{validityPeriod,jdbcType=INTEGER},
      </if>
      <if test="dateUnit != null">
        date_unit = #{dateUnit,jdbcType=TINYINT},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="minPoints != null">
        min_points = #{minPoints,jdbcType=INTEGER},
      </if>
      <if test="maxPoints != null">
        max_points = #{maxPoints,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ouding.wallet.domain.MemberConfig">
    update member_config
    set card_type = #{cardType,jdbcType=TINYINT},
      card_money = #{cardMoney,jdbcType=DECIMAL},
      validity_period = #{validityPeriod,jdbcType=INTEGER},
      date_unit = #{dateUnit,jdbcType=TINYINT},
      discount = #{discount,jdbcType=DECIMAL},
      min_points = #{minPoints,jdbcType=INTEGER},
      max_points = #{maxPoints,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      isdelete = #{isdelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>