<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouding.wallet.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.ouding.wallet.domain.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="marking" jdbcType="INTEGER" property="marking" />
    <result column="account" jdbcType="INTEGER" property="account" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="deadline" jdbcType="INTEGER" property="deadline" />
    <result column="createTime" jdbcType="BIGINT" property="createtime" />
    <result column="modifyTime" jdbcType="BIGINT" property="modifytime" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="product_group_id" jdbcType="INTEGER" property="productGroupId" />
    <result column="deadline_unit" jdbcType="TINYINT" property="deadlineUnit" />
  </resultMap>
  <sql id="Base_Column_List">
    id, marking, account, fee, rate, deadline, createTime, modifyTime, isdelete, description, 
    level, product_group_id, deadline_unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ouding.wallet.domain.Product">
    insert into product (id, marking, account, 
      fee, rate, deadline, 
      createTime, modifyTime, isdelete, 
      description, level, product_group_id, 
      deadline_unit)
    values (#{id,jdbcType=INTEGER}, #{marking,jdbcType=INTEGER}, #{account,jdbcType=INTEGER}, 
      #{fee,jdbcType=DECIMAL}, #{rate,jdbcType=DECIMAL}, #{deadline,jdbcType=INTEGER}, 
      #{createtime,jdbcType=BIGINT}, #{modifytime,jdbcType=BIGINT}, #{isdelete,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{productGroupId,jdbcType=INTEGER}, 
      #{deadlineUnit,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ouding.wallet.domain.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="marking != null">
        marking,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="modifytime != null">
        modifyTime,
      </if>
      <if test="isdelete != null">
        isdelete,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="productGroupId != null">
        product_group_id,
      </if>
      <if test="deadlineUnit != null">
        deadline_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="marking != null">
        #{marking,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=INTEGER},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="isdelete != null">
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="productGroupId != null">
        #{productGroupId,jdbcType=INTEGER},
      </if>
      <if test="deadlineUnit != null">
        #{deadlineUnit,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouding.wallet.domain.Product">
    update product
    <set>
      <if test="marking != null">
        marking = #{marking,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=INTEGER},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="modifytime != null">
        modifyTime = #{modifytime,jdbcType=BIGINT},
      </if>
      <if test="isdelete != null">
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="productGroupId != null">
        product_group_id = #{productGroupId,jdbcType=INTEGER},
      </if>
      <if test="deadlineUnit != null">
        deadline_unit = #{deadlineUnit,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ouding.wallet.domain.Product">
    update product
    set marking = #{marking,jdbcType=INTEGER},
      account = #{account,jdbcType=INTEGER},
      fee = #{fee,jdbcType=DECIMAL},
      rate = #{rate,jdbcType=DECIMAL},
      deadline = #{deadline,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=BIGINT},
      modifyTime = #{modifytime,jdbcType=BIGINT},
      isdelete = #{isdelete,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      product_group_id = #{productGroupId,jdbcType=INTEGER},
      deadline_unit = #{deadlineUnit,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>