<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouding.wallet.mapper.ZytRecordMapper">

    <resultMap id="zytRecord" type="com.ouding.wallet.domain.ZytRecord" extends="baseEntity.base">
        <result column="order_sn" property="orderSn"/>
        <result column="user_id" property="userId"/>
        <result column="batch_id" property="batchId" />
    </resultMap>

    <sql id="sql_all">
        id, create_time, modify_time, create_by, modify_by, remark,is_delete ,order_sn, user_id, batch_id
    </sql>

    <select id="findZytRecord" resultMap="zytRecord">
        select
        <include refid="sql_all"/>
        from zyt_record where order_sn in
        <foreach collection="list" open="(" close=")" item="c" separator=",">
            #{c}
        </foreach>
    </select>
</mapper>